<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>63851E6C6F2A7D34BC2CACD8E490D5A6</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
