<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>88</integer>
	<key>LibraryBuildTag</key>
	<string>46A42D17-5393-4BF2-908F-33EA3EACE4C5</string>
	<key>LibrarySchemaVersion</key>
	<integer>2622</integer>
</dict>
</plist>
